h1 {
    color: #dc143c!important;
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    font-family: "Oxanium", sans-serif;
    color: skyblue;
}

div.buk-raudonas123 {
    color: crimson;
}